<p>Hi, <%= @student_info["data"]["name"]["first"] %></p>
<p>Here's your schedule:</p>
<table>
  <tr>
    <th>Class Name</th>
    <th>Period</th>
  </tr>
  <% @sections.each do |section| %>
    <tr>
      <td><%=section["name"]%></td>
      <td><%=section["period"]%></td>
    </tr>
  <% end %>
</table>
<p><a href="/logout">Log out</a></p>
